<%= best_in_place @user, :first_name %>

<p> event countries: </p>
<%= best_in_place @user, :event_countries, place_holder: "click here to edit", as: :select, collection: Country.all.map {|i| i.name} %>

<%= link_to "users index", users_path %>
